In [1]:
import findspark as fs
fs.init()
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import isnan, when, count, col, translate, lower
from pyspark.sql.types import IntegerType, FloatType
from pyspark.sql import functions as F
spark=SparkSession.builder.appName('GoogleData').master('local').getOrCreate()
sc=spark.sparkContext
sql=SQLContext(sc)

In [2]:
spark

In [3]:
orders = spark.read.csv('retail_db//orders.csv',header=True,inferSchema=True)
order_items = spark.read.csv('retail_db//order_items.csv',header=True,inferSchema=True)
customers = spark.read.csv('retail_db//customers.csv',header=True,inferSchema=True)
products = spark.read.csv('retail_db//products.csv',header=True,inferSchema=True)

# select

In [4]:
orders.select(orders.order_status,'order_status',col('order_status')).show()

+---------------+---------------+---------------+
|   order_status|   order_status|   order_status|
+---------------+---------------+---------------+
|         CLOSED|         CLOSED|         CLOSED|
|PENDING_PAYMENT|PENDING_PAYMENT|PENDING_PAYMENT|
|       COMPLETE|       COMPLETE|       COMPLETE|
|         CLOSED|         CLOSED|         CLOSED|
|       COMPLETE|       COMPLETE|       COMPLETE|
|       COMPLETE|       COMPLETE|       COMPLETE|
|       COMPLETE|       COMPLETE|       COMPLETE|
|     PROCESSING|     PROCESSING|     PROCESSING|
|PENDING_PAYMENT|PENDING_PAYMENT|PENDING_PAYMENT|
|PENDING_PAYMENT|PENDING_PAYMENT|PENDING_PAYMENT|
| PAYMENT_REVIEW| PAYMENT_REVIEW| PAYMENT_REVIEW|
|         CLOSED|         CLOSED|         CLOSED|
|PENDING_PAYMENT|PENDING_PAYMENT|PENDING_PAYMENT|
|     PROCESSING|     PROCESSING|     PROCESSING|
|       COMPLETE|       COMPLETE|       COMPLETE|
|PENDING_PAYMENT|PENDING_PAYMENT|PENDING_PAYMENT|
|       COMPLETE|       COMPLETE|       COMPLETE|
|         CLOSED|         CLOSED|         CLOSED|
|PENDING_PAYMENT|PENDING_PAYMENT|PENDING_PAYMENT|
|     PROCESSING|     PROCESSING|     PROCESSING|
+---------------+---------------+---------------+
only showing top 20 rows

#### But while using functions it is applicable to specify the full notation, i.e., dataframe.column_name or using col as below

In [12]:
orders.select(lower(orders.order_status),lower(col('order_status')),lower('order_status')).show()

+-------------------+-------------------+-------------------+
|lower(order_status)|lower(order_status)|lower(order_status)|
+-------------------+-------------------+-------------------+
|             closed|             closed|             closed|
|    pending_payment|    pending_payment|    pending_payment|
|           complete|           complete|           complete|
|             closed|             closed|             closed|
|           complete|           complete|           complete|
|           complete|           complete|           complete|
|           complete|           complete|           complete|
|         processing|         processing|         processing|
|    pending_payment|    pending_payment|    pending_payment|
|    pending_payment|    pending_payment|    pending_payment|
|     payment_review|     payment_review|     payment_review|
|             closed|             closed|             closed|
|    pending_payment|    pending_payment|    pending_payment|
|         processing|         processing|         processing|
|           complete|           complete|           complete|
|    pending_payment|    pending_payment|    pending_payment|
|           complete|           complete|           complete|
|             closed|             closed|             closed|
|    pending_payment|    pending_payment|    pending_payment|
|         processing|         processing|         processing|
+-------------------+-------------------+-------------------+
only showing top 20 rows

# alias
#### alias should be enclosed within select

### Note : Please do not give alias the same name as built-in functions

In [20]:
#orders.select(orders.order_status.alias('Status_alias')).show()
#Note: orders.select('order_status').alias('Status_alias').show()  will not work
orders.select(lower(orders.order_status).alias('1'),lower(col('order_status')).alias('2'),lower('order_status').alias('3'))

DataFrame[1: string, 2: string, 3: string]

## Distinct

In [19]:
orders.select(lower(orders.order_status).alias('1'),lower(col('order_status')).alias('2'),lower('order_status').alias('3')).distinct().show()

+---------------+---------------+---------------+
|              1|              2|              3|
+---------------+---------------+---------------+
|        on_hold|        on_hold|        on_hold|
|     processing|     processing|     processing|
|       canceled|       canceled|       canceled|
|        pending|        pending|        pending|
|         closed|         closed|         closed|
| payment_review| payment_review| payment_review|
|       complete|       complete|       complete|
|suspected_fraud|suspected_fraud|suspected_fraud|
|pending_payment|pending_payment|pending_payment|
+---------------+---------------+---------------+

# withcolumn
#### If already existing column name is given, then the new column expression will replace the existing column. (It will not add another column)

In [25]:
orders = orders. \
withColumn('order_id',orders.order_id.cast('bigint')). \
withColumn('order_date',orders.order_date.cast('date')). \
withColumn('order_customer_id',orders.order_customer_id.cast('bigint')). \
withColumn('order_status',col('order_status').cast('string'))

In [7]:
orders.select('order_id','order_status').withColumn('SomethingNew',orders.order_id+1).show()

+--------+---------------+------------+
|order_id|   order_status|SomethingNew|
+--------+---------------+------------+
|       1|         CLOSED|           2|
|       2|PENDING_PAYMENT|           3|
|       3|       COMPLETE|           4|
|       4|         CLOSED|           5|
|       5|       COMPLETE|           6|
|       6|       COMPLETE|           7|
|       7|       COMPLETE|           8|
|       8|     PROCESSING|           9|
|       9|PENDING_PAYMENT|          10|
|      10|PENDING_PAYMENT|          11|
|      11| PAYMENT_REVIEW|          12|
|      12|         CLOSED|          13|
|      13|PENDING_PAYMENT|          14|
|      14|     PROCESSING|          15|
|      15|       COMPLETE|          16|
|      16|PENDING_PAYMENT|          17|
|      17|       COMPLETE|          18|
|      18|         CLOSED|          19|
|      19|PENDING_PAYMENT|          20|
|      20|     PROCESSING|          21|
+--------+---------------+------------+
only showing top 20 rows

#### Given below are the cast notations from pyspark.sql.types

In [ ]:
BinaryType: binary
BooleanType: boolean
ByteType: tinyint
DateType: date
DecimalType: decimal(10,0)
DoubleType: double
FloatType: float
IntegerType: int
LongType: bigint
ShortType: smallint
StringType: string
TimestampType: timestamp

# selectExpr

#### SQL like expressions can be used for evaluation

In [32]:
orders.selectExpr('order_id||order_date||","||order_customer_id||","||order_status||"," as textdata ').show(1)

+--------------------+
|            textdata|
+--------------------+
|12013-07-25 00:00...|
+--------------------+
only showing top 1 row

# case
#### CASE as in SQL can be used

In [33]:
orders.selectExpr('CASE WHEN order_status in ("COMPLETE","CLOSED") THEN "COMPLETELD" WHEN order_status = "CANCELED" THEN "CANCEL" ELSE "NONE" END Derived_status').show()

+--------------+
|Derived_status|
+--------------+
|    COMPLETELD|
|          NONE|
|    COMPLETELD|
|    COMPLETELD|
|    COMPLETELD|
|    COMPLETELD|
|    COMPLETELD|
|          NONE|
|          NONE|
|          NONE|
|          NONE|
|    COMPLETELD|
|          NONE|
|          NONE|
|    COMPLETELD|
|          NONE|
|    COMPLETELD|
|    COMPLETELD|
|          NONE|
|          NONE|
+--------------+
only showing top 20 rows

# when
#### Dataframe equivalent of case

In [4]:
orders.withColumn('Derived',when(orders.order_status.isin('COMPLETE','CLOSED'),'DONEEE').when(orders.order_status=='PENDING_PAYMENT','Gareeb').otherwise('Bhool Ja')).show()

+--------+--------------------+-----------------+---------------+--------+
|order_id|          order_date|order_customer_id|   order_status| Derived|
+--------+--------------------+-----------------+---------------+--------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|  DONEEE|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|  Gareeb|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|  DONEEE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|  DONEEE|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|  DONEEE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|  DONEEE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|  DONEEE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|Bhool Ja|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|  Gareeb|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|  Gareeb|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|Bhool Ja|
|      12|2013-07-25 00:00:...|             1837|         CLOSED|  DONEEE|
|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|  Gareeb|
|      14|2013-07-25 00:00:...|             9842|     PROCESSING|Bhool Ja|
|      15|2013-07-25 00:00:...|             2568|       COMPLETE|  DONEEE|
|      16|2013-07-25 00:00:...|             7276|PENDING_PAYMENT|  Gareeb|
|      17|2013-07-25 00:00:...|             2667|       COMPLETE|  DONEEE|
|      18|2013-07-25 00:00:...|             1205|         CLOSED|  DONEEE|
|      19|2013-07-25 00:00:...|             9488|PENDING_PAYMENT|  Gareeb|
|      20|2013-07-25 00:00:...|             9198|     PROCESSING|Bhool Ja|
+--------+--------------------+-----------------+---------------+--------+
only showing top 20 rows

# withColumnRenamed
#### columns can be renamed with this API, where the first argument is the existing column name and the second argument is the new name.

In [40]:
orders.withColumnRenamed('order_status','status_of_order').show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|status_of_order|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|             1837|         CLOSED|
|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|             9842|     PROCESSING|
|      15|2013-07-25 00:00:...|             2568|       COMPLETE|
|      16|2013-07-25 00:00:...|             7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|             2667|       COMPLETE|
|      18|2013-07-25 00:00:...|             1205|         CLOSED|
|      19|2013-07-25 00:00:...|             9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|             9198|     PROCESSING|
+--------+--------------------+-----------------+---------------+
only showing top 20 rows

# filter

#### filter as in SQL format

In [44]:
orders.filter?

Signature: orders.filter(condition)
Docstring:
Filters rows using the given condition.

:func:`where` is an alias for :func:`filter`.

:param condition: a :class:`Column` of :class:`types.BooleanType`
    or a string of SQL expression.

>>> df.filter(df.age > 3).collect()
[Row(age=5, name='Bob')]
>>> df.where(df.age == 2).collect()
[Row(age=2, name='Alice')]

>>> df.filter("age > 3").collect()
[Row(age=5, name='Bob')]
>>> df.where("age = 2").collect()
[Row(age=2, name='Alice')]

.. versionadded:: 1.3
File:      d:\documents\pyspark\spark-3.0.0\python\pyspark\sql\dataframe.py
Type:      method

In [41]:
orders.filter("order_status = 'COMPLETE'").show()
#Note: Single '=' as in SQL format

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|       3|2013-07-25 00:00:...|            12111|    COMPLETE|
|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       6|2013-07-25 00:00:...|             7130|    COMPLETE|
|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
|      17|2013-07-25 00:00:...|             2667|    COMPLETE|
|      22|2013-07-25 00:00:...|              333|    COMPLETE|
|      26|2013-07-25 00:00:...|             7562|    COMPLETE|
|      28|2013-07-25 00:00:...|              656|    COMPLETE|
|      32|2013-07-25 00:00:...|             3960|    COMPLETE|
|      35|2013-07-25 00:00:...|             4840|    COMPLETE|
|      45|2013-07-25 00:00:...|             2636|    COMPLETE|
|      56|2013-07-25 00:00:...|            10519|    COMPLETE|
|      63|2013-07-25 00:00:...|             1148|    COMPLETE|
|      65|2013-07-25 00:00:...|             5903|    COMPLETE|
|      67|2013-07-25 00:00:...|             1406|    COMPLETE|
|      71|2013-07-25 00:00:...|             8646|    COMPLETE|
|      72|2013-07-25 00:00:...|             4349|    COMPLETE|
|      76|2013-07-25 00:00:...|             6898|    COMPLETE|
|      80|2013-07-25 00:00:...|             3007|    COMPLETE|
+--------+--------------------+-----------------+------------+
only showing top 20 rows

#### filter as in Dataframe format

In [48]:
orders.filter(orders.order_status == 'COMPLETE').show()
#Note: Equality operator '==' for dataframe filter expression

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|       3|2013-07-25 00:00:...|            12111|    COMPLETE|
|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       6|2013-07-25 00:00:...|             7130|    COMPLETE|
|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
|      17|2013-07-25 00:00:...|             2667|    COMPLETE|
|      22|2013-07-25 00:00:...|              333|    COMPLETE|
|      26|2013-07-25 00:00:...|             7562|    COMPLETE|
|      28|2013-07-25 00:00:...|              656|    COMPLETE|
|      32|2013-07-25 00:00:...|             3960|    COMPLETE|
|      35|2013-07-25 00:00:...|             4840|    COMPLETE|
|      45|2013-07-25 00:00:...|             2636|    COMPLETE|
|      56|2013-07-25 00:00:...|            10519|    COMPLETE|
|      63|2013-07-25 00:00:...|             1148|    COMPLETE|
|      65|2013-07-25 00:00:...|             5903|    COMPLETE|
|      67|2013-07-25 00:00:...|             1406|    COMPLETE|
|      71|2013-07-25 00:00:...|             8646|    COMPLETE|
|      72|2013-07-25 00:00:...|             4349|    COMPLETE|
|      76|2013-07-25 00:00:...|             6898|    COMPLETE|
|      80|2013-07-25 00:00:...|             3007|    COMPLETE|
+--------+--------------------+-----------------+------------+
only showing top 20 rows

#### multiple filters in SQL format filter

In [5]:
orders.filter("order_status = 'COMPLETE' OR order_status = 'CLOSED'").show()

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|       1|2013-07-25 00:00:...|            11599|      CLOSED|
|       3|2013-07-25 00:00:...|            12111|    COMPLETE|
|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       6|2013-07-25 00:00:...|             7130|    COMPLETE|
|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
|      17|2013-07-25 00:00:...|             2667|    COMPLETE|
|      18|2013-07-25 00:00:...|             1205|      CLOSED|
|      22|2013-07-25 00:00:...|              333|    COMPLETE|
|      24|2013-07-25 00:00:...|            11441|      CLOSED|
|      25|2013-07-25 00:00:...|             9503|      CLOSED|
|      26|2013-07-25 00:00:...|             7562|    COMPLETE|
|      28|2013-07-25 00:00:...|              656|    COMPLETE|
|      32|2013-07-25 00:00:...|             3960|    COMPLETE|
|      35|2013-07-25 00:00:...|             4840|    COMPLETE|
|      37|2013-07-25 00:00:...|             5863|      CLOSED|
|      45|2013-07-25 00:00:...|             2636|    COMPLETE|
|      51|2013-07-25 00:00:...|            12271|      CLOSED|
+--------+--------------------+-----------------+------------+
only showing top 20 rows

#### multiple filters in DataFrame format

In [68]:
#orders.filter((orders.order_status == 'COMPLETE').__or__(orders.order_status == 'CLOSED')).show() 
orders.filter((orders.order_status == 'COMPLETE') | (orders.order_status == 'CLOSED')).show()

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|       1|2013-07-25 00:00:...|            11599|      CLOSED|
|       3|2013-07-25 00:00:...|            12111|    COMPLETE|
|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       6|2013-07-25 00:00:...|             7130|    COMPLETE|
|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
|      17|2013-07-25 00:00:...|             2667|    COMPLETE|
|      18|2013-07-25 00:00:...|             1205|      CLOSED|
|      22|2013-07-25 00:00:...|              333|    COMPLETE|
|      24|2013-07-25 00:00:...|            11441|      CLOSED|
|      25|2013-07-25 00:00:...|             9503|      CLOSED|
|      26|2013-07-25 00:00:...|             7562|    COMPLETE|
|      28|2013-07-25 00:00:...|              656|    COMPLETE|
|      32|2013-07-25 00:00:...|             3960|    COMPLETE|
|      35|2013-07-25 00:00:...|             4840|    COMPLETE|
|      37|2013-07-25 00:00:...|             5863|      CLOSED|
|      45|2013-07-25 00:00:...|             2636|    COMPLETE|
|      51|2013-07-25 00:00:...|            12271|      CLOSED|
+--------+--------------------+-----------------+------------+
only showing top 20 rows

None
+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|       1|2013-07-25 00:00:...|            11599|      CLOSED|
|       3|2013-07-25 00:00:...|            12111|    COMPLETE|
|       4|2013-07-25 00:00:...|             8827|      CLOSED|
|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       6|2013-07-25 00:00:...|             7130|    COMPLETE|
|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|      12|2013-07-25 00:00:...|             1837|      CLOSED|
|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
|      17|2013-07-25 00:00:...|             2667|    COMPLETE|
|      18|2013-07-25 00:00:...|             1205|      CLOSED|
|      22|2013-07-25 00:00:...|              333|    COMPLETE|
|      24|2013-07-25 00:00:...|            11441|      CLOSED|
|      25|2013-07-25 00:00:...|             9503|      CLOSED|
|      26|2013-07-25 00:00:...|             7562|    COMPLETE|
|      28|2013-07-25 00:00:...|              656|    COMPLETE|
|      32|2013-07-25 00:00:...|             3960|    COMPLETE|
|      35|2013-07-25 00:00:...|             4840|    COMPLETE|
|      37|2013-07-25 00:00:...|             5863|      CLOSED|
|      45|2013-07-25 00:00:...|             2636|    COMPLETE|
|      51|2013-07-25 00:00:...|            12271|      CLOSED|
+--------+--------------------+-----------------+------------+
only showing top 20 rows

###### Examples of few multiple filters

In [7]:
orders.filter("order_status in ('COMPLETE' ,'CLOSED') AND date_format(order_date,'yyyyMM') = '201308'").show()

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|    1297|2013-08-01 00:00:...|            11607|    COMPLETE|
|    1298|2013-08-01 00:00:...|             5105|      CLOSED|
|    1299|2013-08-01 00:00:...|             7802|    COMPLETE|
|    1302|2013-08-01 00:00:...|             1695|    COMPLETE|
|    1304|2013-08-01 00:00:...|             2059|    COMPLETE|
|    1305|2013-08-01 00:00:...|             3844|    COMPLETE|
|    1307|2013-08-01 00:00:...|             4474|    COMPLETE|
|    1309|2013-08-01 00:00:...|             2367|      CLOSED|
|    1312|2013-08-01 00:00:...|            12291|    COMPLETE|
|    1314|2013-08-01 00:00:...|            10993|    COMPLETE|
|    1315|2013-08-01 00:00:...|             5660|    COMPLETE|
|    1318|2013-08-01 00:00:...|             4212|    COMPLETE|
|    1319|2013-08-01 00:00:...|             3966|    COMPLETE|
|    1320|2013-08-01 00:00:...|            12270|    COMPLETE|
|    1321|2013-08-01 00:00:...|              800|    COMPLETE|
|    1322|2013-08-01 00:00:...|             9264|    COMPLETE|
|    1323|2013-08-01 00:00:...|             7422|    COMPLETE|
|    1324|2013-08-01 00:00:...|             4600|    COMPLETE|
|    1327|2013-08-01 00:00:...|             9526|    COMPLETE|
|    1329|2013-08-01 00:00:...|             6070|      CLOSED|
+--------+--------------------+-----------------+------------+
only showing top 20 rows

In [64]:
#orders.registerTempTable("df")
#spark.sql("select * from df where order_date like '2013-08%'").show()

orders.filter(orders.order_status.isin('COMPLETE','CLOSED') & orders.order_date.like('2013-08%')).show()

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|    1297|2013-08-01 00:00:...|            11607|    COMPLETE|
|    1298|2013-08-01 00:00:...|             5105|      CLOSED|
|    1299|2013-08-01 00:00:...|             7802|    COMPLETE|
|    1302|2013-08-01 00:00:...|             1695|    COMPLETE|
|    1304|2013-08-01 00:00:...|             2059|    COMPLETE|
|    1305|2013-08-01 00:00:...|             3844|    COMPLETE|
|    1307|2013-08-01 00:00:...|             4474|    COMPLETE|
|    1309|2013-08-01 00:00:...|             2367|      CLOSED|
|    1312|2013-08-01 00:00:...|            12291|    COMPLETE|
|    1314|2013-08-01 00:00:...|            10993|    COMPLETE|
|    1315|2013-08-01 00:00:...|             5660|    COMPLETE|
|    1318|2013-08-01 00:00:...|             4212|    COMPLETE|
|    1319|2013-08-01 00:00:...|             3966|    COMPLETE|
|    1320|2013-08-01 00:00:...|            12270|    COMPLETE|
|    1321|2013-08-01 00:00:...|              800|    COMPLETE|
|    1322|2013-08-01 00:00:...|             9264|    COMPLETE|
|    1323|2013-08-01 00:00:...|             7422|    COMPLETE|
|    1324|2013-08-01 00:00:...|             4600|    COMPLETE|
|    1327|2013-08-01 00:00:...|             9526|    COMPLETE|
|    1329|2013-08-01 00:00:...|             6070|      CLOSED|
+--------+--------------------+-----------------+------------+
only showing top 20 rows

In [13]:
orders.filter('order_customer_id >= 1000').filter('order_customer_id != 2321').filter(orders.order_id.between(1000,1999)).show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|    1001|2013-07-30 00:00:...|             6650|       COMPLETE|
|    1002|2013-07-30 00:00:...|             5170|SUSPECTED_FRAUD|
|    1003|2013-07-30 00:00:...|             7438|       COMPLETE|
|    1004|2013-07-30 00:00:...|            10701|       COMPLETE|
|    1005|2013-07-30 00:00:...|             7958|     PROCESSING|
|    1006|2013-07-30 00:00:...|             9028|       COMPLETE|
|    1007|2013-07-30 00:00:...|             1417|PENDING_PAYMENT|
|    1008|2013-07-30 00:00:...|             4331|         CLOSED|
|    1009|2013-07-30 00:00:...|             7886|       COMPLETE|
|    1010|2013-07-30 00:00:...|             2512|       COMPLETE|
|    1011|2013-07-30 00:00:...|             7214|       COMPLETE|
|    1012|2013-07-30 00:00:...|             3245|         CLOSED|
|    1013|2013-07-30 00:00:...|             1903|       CANCELED|
|    1014|2013-07-30 00:00:...|            12077|     PROCESSING|
|    1015|2013-07-30 00:00:...|             1136|PENDING_PAYMENT|
|    1016|2013-07-30 00:00:...|             5231|PENDING_PAYMENT|
|    1017|2013-07-30 00:00:...|             3781|     PROCESSING|
|    1019|2013-07-30 00:00:...|             4475|PENDING_PAYMENT|
|    1020|2013-07-30 00:00:...|             4815|PENDING_PAYMENT|
|    1021|2013-07-30 00:00:...|            10118|       COMPLETE|
+--------+--------------------+-----------------+---------------+
only showing top 20 rows

# join

#### simple inner join with one column mapping

In [15]:
orders.join?

Signature: orders.join(other, on=None, how=None)
Docstring:
Joins with another :class:`DataFrame`, using the given join expression.

:param other: Right side of the join
:param on: a string for the join column name, a list of column names,
    a join expression (Column), or a list of Columns.
    If `on` is a string or a list of strings indicating the name of the join column(s),
    the column(s) must exist on both sides, and this performs an equi-join.
:param how: str, default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
    ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
    ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
    ``anti``, ``leftanti`` and ``left_anti``.

The following performs a full outer join between ``df1`` and ``df2``.
>>> from pyspark.sql.functions import desc
>>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height)                 .sort(desc("name")).collect()
[Row(name='Bob', height=85), Row(name='Alice', height=None), Row(name=None, height=80)]

>>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).collect()
[Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

>>> cond = [df.name == df3.name, df.age == df3.age]
>>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
[Row(name='Alice', age=2), Row(name='Bob', age=5)]

>>> df.join(df2, 'name').select(df.name, df2.height).collect()
[Row(name='Bob', height=85)]

>>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
[Row(name='Bob', age=5)]

.. versionadded:: 1.3
File:      d:\documents\pyspark\spark-3.0.0\python\pyspark\sql\dataframe.py
Type:      method

In [25]:
orders.join(order_items, orders.order_id==order_items.order_item_order_id).show()

+--------+--------------------+-----------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_id|          order_date|order_customer_id|   order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+--------+--------------------+-----------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|            1|                  1|                  957|                  1|             299.98|                  299.98|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|            2|                  2|                 1073|                  1|             199.99|                  199.99|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|            3|                  2|                  502|                  5|              250.0|                    50.0|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|            4|                  2|                  403|                  1|             129.99|                  129.99|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            5|                  4|                  897|                  2|              49.98|                   24.99|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            6|                  4|                  365|                  5|             299.95|                   59.99|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            7|                  4|                  502|                  3|              150.0|                    50.0|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            8|                  4|                 1014|                  4|             199.92|                   49.98|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|            9|                  5|                  957|                  1|             299.98|                  299.98|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           10|                  5|                  365|                  5|             299.95|                   59.99|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           11|                  5|                 1014|                  2|              99.96|                   49.98|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           12|                  5|                  957|                  1|             299.98|                  299.98|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           13|                  5|                  403|                  1|             129.99|                  129.99|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|           14|                  7|                 1073|                  1|             199.99|                  199.99|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|           15|                  7|                  957|                  1|             299.98|                  299.98|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|           16|                  7|                  926|                  5|              79.95|                   15.99|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|           17|                  8|                  365|                  3|             179.97|                   59.99|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|           18|                  8|                  365|                  5|             299.95|                   59.99|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|           19|                  8|                 1014|                  4|             199.92|                   49.98|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|           20|                  8|                  502|                  1|               50.0|                    50.0|
+--------+--------------------+-----------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

To perform join but get results from only the left dataframe.

In [29]:
orders.join(orders, ['order_id'],how='left_semi').show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|             1837|         CLOSED|
|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|             9842|     PROCESSING|
|      15|2013-07-25 00:00:...|             2568|       COMPLETE|
|      16|2013-07-25 00:00:...|             7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|             2667|       COMPLETE|
|      18|2013-07-25 00:00:...|             1205|         CLOSED|
|      19|2013-07-25 00:00:...|             9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|             9198|     PROCESSING|
+--------+--------------------+-----------------+---------------+
only showing top 20 rows

#### inner join with multiple columns

In [18]:
orders.join(order_items, [orders.order_id==order_items.order_item_order_id, orders.order_id==order_items.order_item_order_id]).show()

+--------+--------------------+-----------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_id|          order_date|order_customer_id|   order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+--------+--------------------+-----------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|            1|                  1|                  957|                  1|             299.98|                  299.98|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|            2|                  2|                 1073|                  1|             199.99|                  199.99|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|            3|                  2|                  502|                  5|              250.0|                    50.0|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|            4|                  2|                  403|                  1|             129.99|                  129.99|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            5|                  4|                  897|                  2|              49.98|                   24.99|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            6|                  4|                  365|                  5|             299.95|                   59.99|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            7|                  4|                  502|                  3|              150.0|                    50.0|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            8|                  4|                 1014|                  4|             199.92|                   49.98|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|            9|                  5|                  957|                  1|             299.98|                  299.98|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           10|                  5|                  365|                  5|             299.95|                   59.99|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           11|                  5|                 1014|                  2|              99.96|                   49.98|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           12|                  5|                  957|                  1|             299.98|                  299.98|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           13|                  5|                  403|                  1|             129.99|                  129.99|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|           14|                  7|                 1073|                  1|             199.99|                  199.99|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|           15|                  7|                  957|                  1|             299.98|                  299.98|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|           16|                  7|                  926|                  5|              79.95|                   15.99|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|           17|                  8|                  365|                  3|             179.97|                   59.99|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|           18|                  8|                  365|                  5|             299.95|                   59.99|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|           19|                  8|                 1014|                  4|             199.92|                   49.98|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|           20|                  8|                  502|                  1|               50.0|                    50.0|
+--------+--------------------+-----------------+---------------+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

In [ ]:
#### left join

In [19]:
customers.join(orders, customers.customer_id==orders.order_customer_id, 'left').show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+--------+--------------------+-----------------+---------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|order_id|          order_date|order_customer_id|   order_status|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+--------+--------------------+-----------------+---------------+
|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|   22945|2013-12-13 00:00:...|                1|       COMPLETE|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|   67863|2013-11-30 00:00:...|                2|       COMPLETE|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|   57963|2013-08-02 00:00:...|                2|        ON_HOLD|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|   33865|2014-02-18 00:00:...|                2|       COMPLETE|
|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|   15192|2013-10-29 00:00:...|                2|PENDING_PAYMENT|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|   61453|2013-12-14 00:00:...|                3|       COMPLETE|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|   57617|2014-07-24 00:00:...|                3|       COMPLETE|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|   56178|2014-07-15 00:00:...|                3|        PENDING|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|   46399|2014-05-09 00:00:...|                3|     PROCESSING|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|   35158|2014-02-26 00:00:...|                3|       COMPLETE|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|   23662|2013-12-19 00:00:...|                3|       COMPLETE|
|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|   22646|2013-12-11 00:00:...|                3|       COMPLETE|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|   51157|2014-06-10 00:00:...|                4|         CLOSED|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|   49339|2014-05-28 00:00:...|                4|       COMPLETE|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|   37878|2014-03-15 00:00:...|                4|       COMPLETE|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|   17253|2013-11-09 00:00:...|                4|PENDING_PAYMENT|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|    9704|2013-09-24 00:00:...|                4|       COMPLETE|
|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|    9023|2013-09-19 00:00:...|                4|       COMPLETE|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|             725|   45832|2014-05-05 00:00:...|                5|PENDING_PAYMENT|
|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|             725|   41333|2014-04-05 00:00:...|                5|       COMPLETE|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+--------+--------------------+-----------------+---------------+
only showing top 20 rows

#### right join

In [20]:
customers.join(orders, customers.customer_id==orders.order_customer_id, 'right').show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+--------+--------------------+-----------------+---------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|order_id|          order_date|order_customer_id|   order_status|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+--------+--------------------+-----------------+---------------+
|      11599|          Mary|        Malone|     XXXXXXXXX|        XXXXXXXXX|8708 Indian Horse...|      Hickory|            NC|           28601|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|        256|         David|     Rodriguez|     XXXXXXXXX|        XXXXXXXXX|7605 Tawny Horse ...|      Chicago|            IL|           60625|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|      12111|         Amber|        Franco|     XXXXXXXXX|        XXXXXXXXX|8766 Clear Prairi...|   Santa Cruz|            CA|           95060|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       8827|         Brian|        Wilson|     XXXXXXXXX|        XXXXXXXXX|   8396 High Corners|  San Antonio|            TX|           78240|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|      11318|          Mary|         Henry|     XXXXXXXXX|        XXXXXXXXX|3047 Silent Ember...|       Caguas|            PR|             725|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       7130|         Alice|         Smith|     XXXXXXXXX|        XXXXXXXXX|      8852 Iron Port|     Brooklyn|            NY|           11237|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       4530|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|1073 Green Leaf G...|        Miami|            FL|           33161|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       2911|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|9166 Golden Necta...|       Caguas|            PR|             725|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       5657|          Mary|         James|     XXXXXXXXX|        XXXXXXXXX|  1389 Dusty Circuit|     Lakewood|            OH|           44107|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|       5648|        Joshua|         Smith|     XXXXXXXXX|        XXXXXXXXX|864 Iron Spring S...|      Memphis|            TN|           38111|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
|        918|        Nathan|         Smith|     XXXXXXXXX|        XXXXXXXXX|    9627 Honey Trail|       Caguas|            PR|             725|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|
|       1837|          Mary|          Vega|     XXXXXXXXX|        XXXXXXXXX|  4312 Bright Corner|       Caguas|            PR|             725|      12|2013-07-25 00:00:...|             1837|         CLOSED|
|       9149|        Ronald|     Whitehead|     XXXXXXXXX|        XXXXXXXXX|6789 Round Robin ...|    Santa Ana|            CA|           92705|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|
|       9842|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|454 Lazy Branch F...|       Caguas|            PR|             725|      14|2013-07-25 00:00:...|             9842|     PROCESSING|
|       2568|         Maria|         Smith|     XXXXXXXXX|        XXXXXXXXX|   3544 Fallen Mount|      Memphis|            TN|           38127|      15|2013-07-25 00:00:...|             2568|       COMPLETE|
|       7276|        Pamela|         Smith|     XXXXXXXXX|        XXXXXXXXX|    9243 Old Gardens|       Caguas|            PR|             725|      16|2013-07-25 00:00:...|             7276|PENDING_PAYMENT|
|       2667|         Tammy|         Smith|     XXXXXXXXX|        XXXXXXXXX|    8906 Rustic Mall|   Sun Valley|            CA|           91352|      17|2013-07-25 00:00:...|             2667|       COMPLETE|
|       1205|          Mary|        Powell|     XXXXXXXXX|        XXXXXXXXX|9299 Quiet Pionee...|        Miami|            FL|           33126|      18|2013-07-25 00:00:...|             1205|         CLOSED|
|       9488|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|    9758 Foggy Range|      Hialeah|            FL|           33012|      19|2013-07-25 00:00:...|             9488|PENDING_PAYMENT|
|       9198|         David|          Kerr|     XXXXXXXXX|        XXXXXXXXX|7312 Crystal Will...|Bowling Green|            KY|           42101|      20|2013-07-25 00:00:...|             9198|     PROCESSING|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+--------+--------------------+-----------------+---------------+
only showing top 20 rows

#### leftanti join - Join to fetch records which exists only in one table
In the below case it will fetch the records which are present only in the orders and not in order_items

In [22]:
customers.join(orders, orders.order_customer_id==customers.customer_id, 'leftanti').show()

+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------------+--------------+----------------+
|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|      customer_city|customer_state|customer_zipcode|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------------+--------------+----------------+
|        219|          Mary|       Harrell|     XXXXXXXXX|        XXXXXXXXX|9016 Foggy Robin ...|             Denver|            CO|           80219|
|        339|          Mary|        Greene|     XXXXXXXXX|        XXXXXXXXX|     4271 Hazy Close|         Long Beach|            CA|           90805|
|        469|         Randy|         Smith|     XXXXXXXXX|        XXXXXXXXX|252 Golden Goose ...|South San Francisco|            CA|           94080|
|       1187|       Dorothy|       Vazquez|     XXXXXXXXX|        XXXXXXXXX| 363 Green Goose Run|            Danbury|            CT|            6810|
|       1481|         Grace|         Smith|     XXXXXXXXX|        XXXXXXXXX|2171 Clear Lake Isle|             Caguas|            PR|             725|
|       1808|        Albert|       Ellison|     XXXXXXXXX|        XXXXXXXXX|   9795 Heather Wynd|           Billings|            MT|           59102|
|       2073|         Donna|      Stephens|     XXXXXXXXX|        XXXXXXXXX|   9792 Cozy Corners|          Sunnyvale|            CA|           94087|
|       2096|          Jose|        Tanner|     XXXXXXXXX|        XXXXXXXXX|8976 Old Hickory ...|              Bronx|            NY|           10467|
|       2450|         James|         Smith|     XXXXXXXXX|        XXXXXXXXX|4063 Little Creek...|             Newark|            DE|           19702|
|       4555|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|5455 Red Lagoon Maze|             Caguas|            PR|             725|
|       4927|       Carolyn|         Green|     XXXXXXXXX|        XXXXXXXXX|7550 Sleepy View ...|             Caguas|            PR|             725|
|       6072|       Stephen|         Smith|     XXXXXXXXX|        XXXXXXXXX|849 Noble Apple P...|             Malden|            MA|            2148|
|       6613|        Ashley|         Smith|     XXXXXXXXX|        XXXXXXXXX|9847 Dusty Horse ...|             Caguas|            PR|             725|
|       7011|         Kevin|         Smith|     XXXXXXXXX|        XXXXXXXXX|1915 Thunder Hick...|          Wyandotte|            MI|           48192|
|       7552|          Carl|         Smith|     XXXXXXXXX|        XXXXXXXXX|    9966 Cinder Loop|             Howell|            MI|           48843|
|       8243|          Gary|        Walker|     XXXXXXXXX|        XXXXXXXXX|2447 Stony Barn S...|           New York|            NY|           10128|
|       8343|          Mary|        Bolton|     XXXXXXXXX|        XXXXXXXXX|   7302 Sunny Valley|             Caguas|            PR|             725|
|       8575|          Mary|       Mueller|     XXXXXXXXX|        XXXXXXXXX|9714 Emerald Bear...|             Caguas|            PR|             725|
|       8778|          Mary|         Smith|     XXXXXXXXX|        XXXXXXXXX|4015 Tawny Rise C...|             Caguas|            PR|             725|
|       8882|       Kenneth|         Smith|     XXXXXXXXX|        XXXXXXXXX| 6754 Iron Leaf Line|            Hickory|            NC|           28601|
+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------------+--------------+----------------+
only showing top 20 rows

#### crossJoin

In [ ]:
orders.crossJoin(customers.filter(customers.customer_id == 1)).show()

# distinct
#### distinct will come at the end after the select

In [ ]:
orders.select('order_status').distinct().show()

# countDinstinct
#### countDistinct will be handy

In [ ]:
orders.select(countDistinct('order_status')).show()

# orderBy/sort
#### Note: sort is just an alias to orderBy

In [ ]:
orders.orderBy(orders.order_date, orders.order_status.desc()).show()

Note: Only absolute column name notation or col() works while mentioning in descending order desc()

In [ ]:
orders.orderBy('order_date',col('order_status').desc()).show()

# drop

drop() will only take just the column names and it will not take any other expressions for the column

In [ ]:
order_items.join(products,order_items.order_item_product_id==products.product_id).drop('product_price','product_description','product_image').show()

In [ ]:
#order_items.join(products, order_item_product_id==products.product_id).drop(products.product_price, products.product_description, products.product_image).show()
# Specifying full name of the column will not work